@import url('https://fonts.googleapis.com/css?family=Roboto');
/* There's where you would put your Google Fonts import */

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper */
img {
    display: block;
    width: 100%;
    height: auto;
}

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */



.header {
  /*display:inline;*/
  background-color: #564A70;
  width: 100%;
  margin-bottom: 100px;
  padding-left: 40px;
  padding-right: 20px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  /*width: 100%;*/
  /*max-width: 600px;*/
  /*padding: 50px;*/
  /*margin: 0px auto 100px auto;*/

}
.pitbullone {
  margin-left: -12px;
  /*max-width: 500px;*/
  /*background-color: #564A70;*/

}

@media only screen and (min-width: 768px) {
  .header section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .title {
    /*width: 10%;*/
    width: 50%;
  }
  .pitbullone {
    order: 2;
    width: 50%;
  }
}




.intro {
  padding: 50px;
}

body {
  font-size: 20px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Roboto", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.stripe {
  background-color: #564A70;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 200px;
  padding-right: 100px;
}

h1 {
  font-size: 48px;
  color: #FFFFFF;

}

h2 {
  font-size: 40px;
  color: #564A70;
  font-weight: bold;
  padding-top: 100px;
  padding-left: 75px;
}

p {
  padding-left: 200px;
  padding-right: 100px;
  color: #564A70;

}

.pitbullthree {
  width: 35%;
  margin: auto;
  margin-bottom: -375px;
}
.buildings {
  margin-bottom: -10px;
}
.scale-in-center {
  transform: scale(1);

}




.scale-in-center.element-in {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.wobble-hor-top {
	-webkit-animation: wobble-hor-top 2s 0.05s infinite both;
	        animation: wobble-hor-top 2s 0.05s infinite both;
}

/*
pup2 {
animation-delay: 0.5s;
}
*/


/* ----------------------------------------------
 * Generated by Animista on 2017-12-6 20:1:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-12-7 12:17:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-12-7 14:15:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-top-bck {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-12-7 14:19:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}



/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
